/* Latte theme styles */
body.latte {
  background-color: var(--latte-base);
  color: var(--latte-text);
}

body.latte .navbar-container {
  background-color: var(--latte-mantle);
}

/* Search button */
body.latte .search-button i {
  color: var(--latte-text); /* Latte mode search icon */
}

body.latte .search-button:hover i {
  color: var(--latte-overlay1);
}

/* Theme toggle button */
body.latte .theme-toggle i {
  color: var(--latte-text);
}

/* Confirm overwrite dialog */
body.latte .confirm-overwrite-dialog {
  background-color: var(--latte-surface2);
}

body.latte .confirm-overwrite-dialog button {
  background-color: var(--latte-flamingo);
  color: var(--latte-text);
}

body.latte .confirm-overwrite-dialog button:hover {
  background-color: var(--latte-red);
}

/* Collection block */
body.latte .collection-block {
  background-color: var(--latte-surface1);
}

/* For Latte Theme */
body.latte .color-block:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Light overlay for latte */
  z-index: 1;
}

/* Latte theme text color */
body.latte .color-info {
  color: var(--latte-text);
}

/* Border overlay specific to Latte theme */
body.latte .border-overlay {
  border: 2px solid var(--latte-border); /* Customize latte border color if needed */
}

/* Latte Slider */
body.latte #block-size-slider {
  background: var(--latte-surface2);
}

body.latte #block-size-slider::-webkit-slider-thumb,
body.latte #block-size-slider::-moz-range-thumb {
  background: var(--latte-text);
}

body.latte .total-blocks-container .total-number {
  font-weight: bold;
  color: var(--latte-pink); /* Change color for mocha theme */
}

body.latte .nav-link {
  color: var(--latte-text);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

body.latte .nav-link:hover {
  color: var(--latte-overlay1);
}

body.latte .active-nav-link, body.latte .active-nav-link:hover {
  color: var(--latte-pink);
}