/* Mocha theme styles */
body {
  background-color: var(--mocha-base);
  color: var(--mocha-text);
}

nav {
  background-color: var(--mocha-surface1);
}

nav a {
  color: var(--mocha-text); /* Default link color */
}

nav a:hover {
  color: var(--mocha-flamingo); /* Change on hover */
}

nav a:focus {
  color: var(--mocha-red); /* Highlight link on focus */
}

/* Search button */
.search-button i {
  color: var(--mocha-text); /* Use theme color */
}

.search-button:hover i {
  color: var(--mocha-flamingo); /* Change color on hover */
}

/* Theme toggle button */
.theme-toggle i {
  color: var(--mocha-text); /* Set icon color */
}

/* Confirm overwrite dialog */
.confirm-overwrite-dialog {
  background-color: var(--mocha-surface2);
  color: var(--mocha-text);
  border: 2px solid var(--mocha-overlay1);
}

.confirm-overwrite-dialog button {
  background-color: var(--mocha-flamingo);
  color: var(--mocha-text);
}

.confirm-overwrite-dialog button:hover {
  background-color: var(--mocha-red);
}

/* Collection block */
.collection-block {
  background-color: var(--mocha-surface1);
  color: var(--mocha-text);
}

/* For Mocha Theme */
body.mocha .color-block:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for mocha */
  z-index: 1;
}

/* Mocha theme text color */
body.mocha .color-info {
  color: var(--mocha-text);
}

/* Border overlay specific to Mocha theme */
.border-overlay {
  border: 2px solid var(--mocha-pink); /* Mocha theme default */
}

/* Mocha Slider */
body.mocha #block-size-slider {
  background: var(--mocha-surface2);
}

body.mocha #block-size-slider::-webkit-slider-thumb {
  background: var(--mocha-flamingo);
}

body.mocha #block-size-slider::-moz-range-thumb {
  background: var(--mocha-flamingo);
}