@import url("./catppuccin-variables.css");
@import url("./keyframes.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); /* Poppins font */

/***************************************************/
/*                                                 */
/*              BASE STYLING                       */
/*                                                 */
/***************************************************/

/* Base body theming */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  transition: color var(--transition-duration) ease;
  background-color: var(--base);
  color: var(--text);
  min-height: 100%;
  transition: color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
}

#root {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

/***************************************************/
/*                                                 */
/*              NAVBAR STYLES                      */
/*                                                 */
/***************************************************/

/* Sticky Navbar */
nav {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--mantle);
  font-weight: bold;
  transition: color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  font-size: 1.3em;
}

.nav-link,
label.checkbox-wrapper span {
  color: var(--text);
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color var(--transition-duration) ease;
}
.nav-link::after {
  height: 3px;
  bottom: -5px;
  transition: width var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
}

label.checkbox-wrapper span::after {
  height: 2px;
  bottom: -2px;
  transition: width var(--transition-duration-extended) ease,
    background-color var(--transition-duration-extended) ease;
}

.nav-link::after,
label.checkbox-wrapper span::after {
  content: "";
  position: absolute;
  width: 0;
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Center it horizontally */
  background-color: var(--subtext0); /* Adjust color as needed */
}

.nav-link:hover::after,
label.checkbox-wrapper span:hover::after {
  width: 70%; /* Expand to 90% of the link's width */
  left: 50%; /* Keep it centered */
  transform: translateX(-50%);
}

.active-nav-link::after,
.nav-link.active-nav-link:hover::after,
.checkbox-wrapper input[type="checkbox"]:checked ~ span::after,
.checkbox-wrapper input[type="checkbox"]:checked ~ span:hover::after {
  width: 110%; /* Expand to 90% of the link's width */
  left: 50%; /* Keep it centered */
  transform: translateX(-50%);
  background-color: var(--pink);
}

/* Active link highlighting */
.active-nav-link,
.active-nav-link:hover {
  color: var(--pink) !important;
}

.total-number {
  display: inline-block;
  color: var(--pink);
  --animate-duration: 500ms;
}

.total-blocks-container h4 {
  font-size: 1.5em;
  user-select: none;
  margin-bottom: 10px;
  margin-top: 5px;
}

/***************************************************/
/*                                                 */
/*             BUTTON & FILTERS STYLES             */
/*                                                 */
/***************************************************/

.total-blocks-container {
  margin-right: 5px;
}

/* Search button icon */
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-bottom: 5px;
  transition: all var(--transition-duration) ease;
}

/* Parent container for TotalBlocks and Search button */
.displayed-colors-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  transition: all var(--transition-duration) ease; /* Add a smooth margin transition */
}

/* Search bar wrapper with a height transition */
.search-bar-wrapper {
  overflow: hidden;
  height: 0; /* Hidden initially */
  transition: height 0.3s ease; /* Smooth height transition */
}

/* When search bar is shown */
.search-bar-wrapper.show {
  height: 40px; /* Adjust height to match the input size */
}

.search-bar-wrapper input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  background-color: var(--surface0);
  color: var(--text);
  box-sizing: border-box;
  border-radius: 5px;
}

.search-bar-wrapper input:focus {
  outline: none;
}

/* Filters container */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.search-button i {
  font-size: 1.7em;
  transition: all var(--transition-duration) ease;
  color: var(--text);
}

.search-button:hover i {
  color: var(--subtext1);
}

/* Active state for search icon */
.search-button i.active {
  color: var(--pink); /* Change the color to pink when active */
}

.add-to-collection-button-pushable {
  position: fixed;
  top: 50%;
  right: 34px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms, ease all var(--transition-duration);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.add-to-collection-button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--shadow-light); /* Use shadow variable */
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1),
    ease all var(--transition-duration);
}

.add-to-collection-button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: var(--shadow-inset);
  transition: ease all var(--transition-duration);
}

.add-to-collection-button-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 6px;
  font-size: 1.1rem;
  color: var(--text); /* Variable for text color */
  background: var(--surface0); /* Use variable for the primary color */
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1),
    ease all var(--transition-duration);
}

@media (min-width: 768px) {
  .add-to-collection-button-front {
    font-size: 1.25rem;
    padding: 35px 42px;
  }
}

.add-to-collection-button-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.add-to-collection-button-pushable:hover .add-to-collection-button-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.add-to-collection-button-pushable:active .add-to-collection-button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.add-to-collection-button-pushable:hover .add-to-collection-button-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.add-to-collection-button-pushable:active .add-to-collection-button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.add-to-collection-button-pushable:focus:not(:focus-visible) {
  outline: none;
}

/***************************************************/
/*                                                 */
/*           LAYOUT CONTAINERS STYLES              */
/*                                                 */
/***************************************************/

/* Layout Containers */
.color-block-display,
.collection-block-display {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.palette-route-container,
.collection-route-container {
  width: auto;
  margin-left: 270px;
  margin-right: 270px;
  text-align: center;
}

/***************************************************/
/*                                                 */
/*           THEME TOGGLE & SLIDER STYLES          */
/*                                                 */
/***************************************************/

/* Theme Toggle Button */
.theme-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.theme-toggle i {
  transition: all var(--transition-duration) ease;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: var(--text);
}

.theme-toggle:hover i {
  transform: scale(1.1);
}

.theme-toggle:active i {
  transform: scale(1.4);
}

.slider-theme-container {
  position: absolute;
  right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Slider Styling */
#block-size-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 8px;
  outline: none;
  border-radius: 6px;
  transition: all var(--transition-duration) ease;
  background: var(--surface0);
  padding: 0;
  margin-right: 25px;
}

#block-size-slider:hover::-webkit-slider-thumb,
#block-size-slider:hover::-moz-range-thumb {
  transform: scale(1.3);
}

#block-size-slider::-webkit-slider-thumb,
#block-size-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: var(--text);
  box-sizing: border-box;
  margin: 0;
  transition: all var(--transition-duration) ease;
}

/***************************************************/
/*                                                 */
/*           BLOCKS & OVERLAYS STYLES              */
/*                                                 */
/***************************************************/

/***************************************************/
/* Collection Block Styling                        */
/***************************************************/
.collection-block {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--surface1);
  color: var(--text);
}

/***************************************************/
/* Color Block Styling                             */
/***************************************************/
.color-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
  z-index: 1;
  transition: all var(--transition-duration) ease;
}

.color-block:hover {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 20px var(--dynamic-shadow-color);
}

/* Blocks in the collection remain selected (active) */
.color-block.selected::before,
.color-block.added::before,
.color-block:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-block-overlay);
  z-index: 1;
  transition: all var(--transition-duration) ease;
}

.color-block.added {
  opacity: 0.5;
  cursor: not-allowed;
}

/***************************************************/
/* Color Info Styling                              */
/***************************************************/
.color-info {
  position: relative;
  z-index: 3;
  text-align: center;
  color: var(--text);
  padding: 10px;
  opacity: 0;
  transition: opacity var(--transition-duration) ease;
}

.color-block:hover .color-info,
.color-block.selected .color-info,
.color-block.added .color-info {
  opacity: 1;
}

.color-hex {
  font-weight: bold;
}

/***************************************************/
/* Border Overlay Styling                          */
/***************************************************/
.border-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--pink);
  z-index: 2;
  pointer-events: none;
  transition: all var(--transition-duration) ease;
}

.color-block.selected .border-overlay,
.color-block.added .border-overlay {
  opacity: 1; /* Keep the border visible for selected and added blocks */
}

/***************************************************/
/*                                                 */
/*     CONFIRM OVERWRITE DIALOG STYLES             */
/*                                                 */
/***************************************************/

/* Confirm overwrite dialog */
.confirm-overwrite-dialog {
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--surface2);
  color: var(--text);
  border: 2px solid var(--overlay1);
}

.confirm-overwrite-dialog button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  background-color: var(--pink);
  color: var(--text);
}

.confirm-overwrite-dialog button:hover {
  background-color: var(--red);
}

/***************************************************/
/*                                                 */
/*               CHECKBOX STYLING                  */
/*                                                 */
/***************************************************/

.checkbox-wrapper:hover .check {
  stroke-dashoffset: 0;
}

.side-navbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  left: 0%;
  top: 0%;
  z-index: 100;
  height: 100%;
  background-color: var(--mantle);
  padding: 40px;
  padding-bottom: 10px;
  padding-top: 10%;
  transition: all var(--transition-duration) ease;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Add some space between checkbox and label */
  margin-bottom: 10px;
  position: relative;
  font-weight: bold;
}

.checkbox-wrapper span {
  cursor: pointer; /* Makes the span appear clickable */
  user-select: none; /* Prevents text selection */
}

.checkbox-wrapper span:hover,
.nav-link:hover {
  color: var(--subtext0); /* Change the text color on hover */
}

.checkbox-wrapper .background {
  fill: var(--surface0);
  transition: ease all var(--transition-duration-extended);
  -webkit-transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper .stroke {
  fill: none;
  stroke: var(--surface0);
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all var(--transition-duration-extended);
  -webkit-transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper .check {
  fill: none;
  stroke: var(--surface1);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all var(--transition-duration-extended);
  -webkit-transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper svg {
  width: 40px; /* Set a fixed width for the SVG */
  height: 40px; /* Set a fixed height for the SVG */
}

.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  appearance: none;
  transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .background {
  fill: var(--pink);
  transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper input[type="checkbox"]:checked + svg + span {
  color: var(--pink); /* Adjust this to your preferred pink color */
  transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
  transition: ease all var(--transition-duration-extended);
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
  transition: ease all var(--transition-duration-extended);
}
